# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds
dist/
dist-ssr/
build/

# TypeScript cache
*.tsbuildinfo
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo

# Environment variables & secrets
.env
.env.local
.env.*.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor and IDE files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*~

# OS and system files
.DS_Store
Thumbs.db
